<div class="col-md-3">
    <h2 class="text-center">Edit User</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label>ID:</label>
            <input readonly type="text" formControlName="_id" placeholder="_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f._id.errors }">
            <div *ngIf="submitted && f._id.errors">
              <div *ngIf="f._id.errors.required">ID is required</div>
            </div>
          </div>
      

      <div class="form-group">
        <label>First Name:</label>
       <!--<input type="text" formControlName="firstName" placeholder="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">-->
       <select formControlName="role">
          <option value="admin">admin</option>
          <option value="user">user</option>
        </select>
        <div *ngIf="submitted && f.firstName.errors">
          <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
      </div>
  
      <div class="form-group">
        <label>Last Name:</label>
        <input type="text" formControlName="lastName" placeholder="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
        <div *ngIf="submitted && f.lastName.errors">
          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
      </div>
  
      <div class="form-group">
        <label>Email:</label>
        <input type="text" formControlName="email" placeholder="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        <div *ngIf="submitted && f.email.errors">
          <div *ngIf="f.email.errors.required">email is required</div>
        </div>
      </div>
  
      <div class="form-group">
          <label>Role:</label>
          <input type="text" formControlName="role" placeholder="role" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
          <div *ngIf="submitted && f.role.errors">
            <div *ngIf="f.role.errors.required">role is required</div>
          </div>
      </div>

      <div class="form-group">
          <label>Password:</label>
          <input type="text" formControlName="password" placeholder="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <div *ngIf="submitted && f.password.errors">
            <div *ngIf="f.password.errors.required">role is required</div>
          </div>
      </div>
  
      <button type="submit"  class="btn btn-info">Update</button>
    </form>
  </div>
  
  