<div class="col-md-3">
    <h2 class="text-center">Add User</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>First Name:</label>
        <input type="text" formControlName="firstName" placeholder="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
        <div *ngIf="submitted && f.firstName.errors">
          <div *ngIf="f.firstName.errors.required">firstName is required</div>
        </div>
      </div>
  
      <div class="form-group">
        <label>Last Name:</label>
        <input type="text" formControlName="lastName" placeholder="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
        <div *ngIf="submitted && f.lastName.errors">
          <div *ngIf="f.lastName.errors.required">lastName is required</div>
        </div>
      </div>
  
      <div class="form-group">
        <label>Email:</label>
        <input type="text" formControlName="email" placeholder="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        <div *ngIf="submitted && f.email.errors">
          <div *ngIf="f.email.errors.required">email is required</div>
        </div>
      </div>

      <div class="form-group">
          <label>Role:</label>
          <!--<input type="text" formControlName="role" placeholder="role" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">-->
          <select formControlName="role">
            <option value="admin">admin</option>
            <option value="user">user</option>
          </select>
          <div *ngIf="submitted && f.role.errors">
            <div *ngIf="f.role.errors.required">role is required</div>
          </div>
      </div>

      <div class="form-group">
          <label>Password:</label>
          <input type="text" formControlName="password" placeholder="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <div *ngIf="submitted && f.password.errors">
            <div *ngIf="f.password.errors.required">password is required</div>
          </div>
        </div>
  
      <button type="submit"  class="btn btn-info">Save</button>
    </form>
  </div>
