<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>  
  <a routerLink="/signout" *ngIf="sessionActive">Log Out ({{ sessionActive.email }})</a>
</div>
<router-outlet></router-outlet>
