<div class="container col-md-12"> 
  <div *hasPermission="['product:create']">
      <button (click)="addProduct()" class="btn btn-info">Add Product</button>
  </div> 
  <h2>All Products</h2>  
  <div class="table-responsive table-container"> 
    <a routerLink="/home">back</a> 
    <table class="table table-dark table-hover table-striped">  
      <thead class="thead-light">  
        <tr>  
          <th>Title</th>  
          <th>Description</th> 
          <th>Price($)</th> 
          <th>Company</th>
          <th>Action</th> 
        </tr>  
      </thead>  
      <tbody>  
        <tr *ngFor="let product of products"> 
           
          <td>{{product.title}}</td>  
          <td>{{product.description}}</td>
          <td>{{product.price | currency : "USD" : true}}</td> 
          <td>{{product.company}}</td> 
           
          <td>  
            <button *hasPermission="['product:delete']" (click)="deleteProduct(product)" class="btn btn-info"> Delete</button>  
            <button *hasPermission="['product:edit']" (click)="updateProduct(product)" style="margin-left: 20px;" class="btn btn-info"> Edit</button>  
          </td>  
        </tr>  
      </tbody>  
    </table>  
  </div> 
   
</div> 
