<div class="container col-md-12"> 
    <div *hasPermission="['user:create']">
        <button (click)="addUser()" class="btn btn-info">Add User</button>
    </div> 
    <h2>All Users</h2>
    <a routerLink="/home">back</a> 
    <div class="table-responsive table-container">  
      <table class="table table-dark table-hover table-striped">  
        <thead class="thead-light">  
          <tr>  
            <th>Firs Name</th>  
            <th>Last Name</th> 
            <th>Email</th> 
            <th>Role</th>
            <th>Action</th> 
          </tr>  
        </thead>  
        <tbody>  
          <tr *ngFor="let user of users"> 
             
            <td>{{user.firstName}}</td>  
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td> 
            <td>{{user.role}}</td> 
             
            <td>  
              <button *hasPermission="['user:delete']" (click)="deleteUser(user)" class="btn btn-info"> Delete</button>  
              <button *hasPermission="['user:edit']" (click)="updateUser(user)" style="margin-left: 20px;" class="btn btn-info"> Edit</button>  
            </td>  
          </tr>  
        </tbody>  
      </table>  
    </div> 
     
  </div> 
  
