
<div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Products</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>list</li>
            <li>view</li>
            <li>create</li>
          </ul>
          <a routerLink="/list-product" class="btn btn-lg btn-block btn-outline-primary">Get started</a>
        </div>
      </div>
      <div *hasPermission="['user:list']" class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Users</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
              <li>list</li>
              <li>view</li>
              <li>create</li>
          </ul>
          <a routerLink="/list-user" class="btn btn-lg btn-block btn-primary">Get started</a>
        </div>
      </div>
    </div>